html{
height:100%;
}
body{
background-color:#222;
height:100%;
margin:0px;
display: flex;
flex-direction:row;/*Make a row*/
justify-content: center;/*That is centered L/R*/
align-items: center;/*That is centered U/D*/
align-content: center;/*And still center when wraped.*/
flex-wrap: wrap;/*BTW wrap*/
}

/*Panels*/
#SearchPanel{
}
#IconsPanel{
}

/*Tiles*/
#SearchTile{
padding:10px;
margin:20px;
background-color:#EEE;
}
#tile{
padding:10px;
margin:20px;
background-color:#EEE;
}

/*Images in Tiles*/
#tile a img{
  width:48px;
  height:48px;
}
/*Images in SearchTiles*/
#SearchTile a img{
  width:64px;
  height:64px;
}
/*The Search Bars Themselves*/












