html{
    height:100%;
}
body{
    background-color:#222;
    height:100%;
    margin:0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*No Wrap - smaller screens handled by Media Query*/
}

/*Panels*/
.Panel{
    height:100%;
    width: 50%;
    flex: 1 1;/*Grow and Shrink*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#SearchBars{}
#Icons{
    flex-wrap: wrap;
}

/*Tiles*/
.tile{
    padding:10px;
    margin:20px;
    background-color:#EEE;
}
.searchBar{
}
.icon{
}

/*Images in Tiles*/
#icon a img{
  width:48px;
  height:48px;
}
/*Images in SearchTiles*/
#searchBar a img{
  width:64px;
  height:64px;
}
/*The Search Bars Themselves*/
input{

}

@media all and (max-width:500px){
    /*re-write it all for vertical size.*/
}
